absl-py==2.2.2
accelerate==0.21.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
airsim==1.8.1
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
array_record==0.7.1
asciitree==0.3.3
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.13.4
bitsandbytes==0.41.0
blinker==1.9.0
bokeh==3.7.2
cachetools==5.5.2
certifi==2022.12.7
cffi==1.17.1
charset-normalizer==2.1.1
click==8.1.8
cloudpickle==3.1.1
cmake==3.25.0
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.3.2
cycler==0.12.1
Cython==0.29.28
dash==3.0.3
decorator==5.2.1
decord==0.6.0
deepspeed==0.9.5
defusedxml==0.7.1
dill==0.4.0
distro==1.9.0
dm-tree==0.1.9
docker-pycreds==0.4.0
draccus==0.10.0
easydict==1.13
einops==0.8.0
einops-exts==0.0.4
etils==1.12.2
exceptiongroup==1.2.2
executing==2.2.0
fairscale==0.4.13
Farama-Notifications==0.0.4
fastapi==0.115.6
fasteners==0.19
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.13.1
flash-attn==2.5.9.post1
Flask==3.0.3
flatbuffers==25.2.10
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2024.12.0
ftfy==6.3.0
gast==0.6.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.39.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
gradio==3.35.2
gradio_client==0.2.9
grpcio==1.71.0
gymnasium==1.0.0
h11==0.14.0
h5py==3.13.0
hjson==3.1.0
httpcore==0.17.3
httpx==0.24.0
huggingface-hub==0.27.1
hydra-core==1.3.2
idna==3.4
imageio==2.23.0
imageio-ffmpeg==0.5.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
iopath==0.1.10
ipdb==0.13.13
ipython==8.35.0
ipywidgets==8.1.6
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
jsonlines==4.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.14
keras==2.15.0
kiwisolver==1.4.8
latex2mathml==3.77.0
libclang==18.1.1
lightning==2.4.0
lightning-utilities==0.14.3
linkify-it-py==2.0.3
lit==15.0.7
llvmlite==0.43.0
Markdown==3.8
markdown-it-py==3.0.0
markdown2==2.5.2
MarkupSafe==2.1.5
matplotlib==3.10.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mergedeep==1.3.4
ml-dtypes==0.2.0
moviepy==2.1.2
mpmath==1.3.0
msgpack==1.1.0
msgpack-rpc-python==0.4
multidict==6.4.3
multimethod==1.12
mypy-extensions==1.0.0
narwhals==1.35.0
natsort==8.4.0
networkx==3.2.1
ninja==1.11.1.3
numba==0.60.0
numpy==1.26.3
openai==1.59.5
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
orjson==3.10.13
packaging==24.2
pandas==2.2.3
peft==0.4.0
pillow==10.2.0
platformdirs==4.3.6
propcache==0.2.1
protobuf==5.29.2
psutil==6.1.1
py-cpuinfo==9.0.0
pycocotools==2.0.8
pydantic==1.10.20
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
regex==2024.11.6
requests==2.28.1
rpds-py==0.22.3
safetensors==0.5.1
scikit-learn==1.2.2
scipy==1.15.0
semantic-version==2.10.0
sentencepiece==0.1.99